<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>08day-ServletConfig</display-name>
  <servlet>
		<servlet-name>configservlet</servlet-name>
		<servlet-class>zrc.servletconfig.Configservlet</servlet-class>
		<init-param>
		<param-name>config</param-name>
		<param-value>utf-8</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>configservlet</servlet-name>
		<url-pattern>/ConfigServlet</url-pattern>
	</servlet-mapping>
</web-app>