<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>06day-Cookie</display-name>
  <servlet>
  <servlet-name>testcookieservlet</servlet-name>
  <servlet-class>zrc.cookie.TestCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>testcookieservlet</servlet-name>
  <url-pattern>/TestCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>getcookieservlet</servlet-name>
  <servlet-class>zrc.cookie.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>getcookieservlet</servlet-name>
  <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>notgetcookieservlet</servlet-name>
  <servlet-class>zrc.cookie.NotGetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>notgetcookieservlet</servlet-name>
  <url-pattern>/NotGetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>pageservlet</servlet-name>
		<servlet-class>zrc.servlet.PageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageservlet</servlet-name>
		<url-pattern>/PageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>zrc.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>myservlet</servlet-name>
		<servlet-class>zrc.servlet.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myservlet</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cookieservlet</servlet-name>
		<servlet-class>zrc.servlet.CookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookieservlet</servlet-name>
		<url-pattern>/CookieServlet</url-pattern>
	</servlet-mapping>
</web-app>